.product {
	width: 100%;
	padding: 60px 0px;
	text-align: center;
	background-color: #ededed;

	.product__heading {
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		margin-bottom: 51.79px;
		text-align: center;
	}
	.product__group {
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(4, 1fr);
		gap: 4px;
		@media (max-width: 768px) {
			gap: 10px;
			grid-template-columns: repeat(1, 1fr);
		}
		.product__cards {
			padding: 12px 12px;
			text-align: left;
			border: 2px solid rgba(0, 0, 0, 0.118);
			cursor: pointer;
			border-radius: 8px;
			transition: all 0.6s;
			&:hover {
				box-shadow: -4px 12px 18px -9px rgba(0, 0, 0, 0.75);
				-webkit-box-shadow: -4px 12px 18px -9px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: -4px 12px 18px -9px rgba(0, 0, 0, 0.75);

				background: #ededed;
			}

			img {
				margin-bottom: 30px;
				text-align: left;
			}
			.card__pro-heading {
				font-weight: 600;
				font-size: 22px;
				line-height: 33px;
				margin-bottom: 13px;
				color: #22343d;
			}
			.card__pro-paragriph {
				color: #22343d;
				font-weight: 400;
				font-size: 16px;
				line-height: 26px;
			}
		}
		margin-bottom: 34px;
	}
	.sign__sections {
		text-align: center;
		width: 100%;
		.button__sign {
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
			color: #ffffff;
			padding: 15px 34px;
			background-color: #02897a;
			border: 2px solid #02897a;
			border-radius: 4px;
			cursor: pointer;
			transition: all 0.6s;
			&:hover {
				color: #02897a;
				background-color: transparent;
			}
		}
	}
}
